/* ========== PROFILE PAGE ========== */

.profile-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ========== MAIN ========== */

.profile-page main {
    background-image: var(--main-gradient);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 88px;
    gap: 56px;
} 

.logout-button{
    background-image: none;
    background-color: #CECECE;
    box-shadow: 0px 16px 20px rgba(0,0,0,0.5);
}