@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* ========== VARIABLES ========== */

:root{
    --main-font: 'Poppins', sans-serif;
    --header-gradient: linear-gradient(to bottom, #0C4E5D, #0C687D);
    --main-color: #0C687D;
    --main-gradient: linear-gradient(to bottom, #FFFFFF, #DDDDDD);
    --btn-gradient: linear-gradient(to bottom, #FFFFFF, #D7D7D7);
    --profile-card: #CECECE;
}

/* ========== GENERAL ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  min-height: 100vh;
  overflow-x: hidden;
}

body{
  background-color: #dfdede;
  font-family: var(--main-font);
}